.head{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    border: red solid;
    border-radius: 15px;
    padding:0px;
    box-shadow: 5px 5px 7px 7px;
    background-color: beige;
    font-style: italic;
}
.imgs1{
    height: 400px;
    width: 400px;
    border: 10px black solid;
    margin-inline-start: 250px;
    margin-inline-end: 250px;
    margin-top: 100px;
   
}
.flex{
    display: flex;
    justify-content:space-start;
   margin-top: 50px;
   margin-bottom: 50px;
   flex-wrap: wrap;
}
.headline{
    color: rgb(1, 19, 19);
    display: flex;
    justify-content: center;
}
.nst{
    font-size: x-large;
    /* padding: 10px 10px 10px 300px ; */
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
    margin-left: 45%;
    border: rgb(22, 4, 4) solid;
    /* grid-area: span; */
    border-radius: 7px;
    background-color: rgb(185, 173, 172);
    /* font: 20px; */
    color: rgb(0, 7, 14);
    font-style: italic;
    /* font-language-override: calc(); */
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.des{
    font-size: 15px;
    color: rgb(10, 10, 1);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;

}
.des1{
    font-size: x-large;
    color: rgb(7, 7, 7);

}
.des2{
    font-size: x-large;
}
.des3{
    font-size: x-large;
}
.des4{
    font-size: x-large;
}
